{% extends 'base.html' %}

{%- set pageTitle = content.app.title -%}

{% block content %}
  <div class="tna-section">
    <div class="tna-container">
      <div
        class="tna-column tna-column--width-2-3 tna-column--width-5-6-medium tna-column--full-small tna-column--full-tiny">

        <form action="{{ url_for('main.service_branch_form') }}" method="post" novalidate>
          {{ form.service_branch(params={'headingLevel':1, 'headingSize':'xl'}) }}
          {{ form.csrf_token }}
          <div class="tna-button-group">
            {{ form.submit }}
          </div>
        </form>
      </div>
    </div>
  </div>
  </div>
{% endblock %}
