{% extends 'base.html' %}

{%- set pageTitle = content.app.title -%}

{% block content %}
  <div class="tna-section">
    <div class="tna-container">
      <div
        class="tna-column tna-column--width-2-3 tna-column--width-5-6-medium tna-column--full-small tna-column--full-tiny">

        {% if form.errors %}
          {{ tnaErrorSummary(wtforms_errors(form)) }}
        {% endif %}

        <h1 class="tna-heading-xl">{{ content.app.title }}</h1>

        <form action="{{ url_for('main.all_fields_in_one_form_post') }}" method="post" enctype="multipart/form-data" novalidate>

          <h2
            class="tna-heading-l tna-!--margin-top-l">{{ content.pages.all_fields_in_one_form.service_person_details.legend }}</h2>

          <p>{{ content.pages.all_fields_in_one_form.service_person_details.introduction }}</p>
          {{ form.csrf_token }}
          {{ form.forenames(params={'headingLevel':3, 'size':'l', 'autocomplete':'off'}) }}
          {{ form.lastname(params={'headingLevel':3, 'size':'m', 'autocomplete':'off'}) }}
          {{ form.other_last_names(params={'headingLevel':3, 'size':'m', 'autocomplete':'off'}) }}
          {{ form.date_of_birth(params={'headingLevel':3, 'autocomplete':'off'}) }}
          {{ form.place_of_birth(params={'headingLevel':3, 'size':'m', 'autocomplete':'off'}) }}
          {{ form.date_of_death(params={'headingLevel':3, 'autocomplete':'off'}) }}
          {{ form.service_number(params={'headingLevel':3, 'size':'m', 'autocomplete':'off'}) }}
          {{ form.regiment(params={'headingLevel':3, 'size':'m', 'autocomplete':'off'}) }}
          {{ form.service_branch(params={'headingLevel':3}) }}
          {{ form.additional_information(params={'headingLevel':3}) }}
          {{ form.mod_reference(params={'size':'m', 'autocomplete':'off'}) }}

          <h2 class="tna-heading-l">{{ content.pages.all_fields_in_one_form.evidence_of_death.heading }}</h2>

          {% for paragraph in content.pages.all_fields_in_one_form.evidence_of_death.paragraphs %}
            <p>{{ paragraph }}</p>
          {% endfor %}

          <ul class="tna-ul">
            <li><a href="{{ content.pages.all_fields_in_one_form.evidence_of_death.list_one.item_one.href }}"
                   target="_blank">{{ content.pages.all_fields_in_one_form.evidence_of_death.list_one.item_one.text }}</a>
            </li>
            <li>{{ content.pages.all_fields_in_one_form.evidence_of_death.list_one.item_two }}</li>
            <li><a href="{{ content.pages.all_fields_in_one_form.evidence_of_death.list_one.item_three.href }}"
                   target="_blank">{{ content.pages.all_fields_in_one_form.evidence_of_death.list_one.item_three.text }}</a>
            </li>
          </ul>
          {{ form.evidence_of_death }}

          {{ form.died_in_service(params={'headingLevel':3}) }}

          <h2 class="tna-heading-l">{{ content.pages.all_fields_in_one_form.enter_your_details.legend }}</h2>

          {{ form.case_reference_number(params={'headingLevel':3, 'size':'m'}) }}
          {{ form.requester_title(params={'headingLevel':3, 'size':'s', 'autocomplete':'honorific-prefix'}) }}
          {{ form.requester_first_name(params={'headingLevel':3, 'size':'m', 'autocomplete':'given-name'}) }}
          {{ form.requester_last_name(params={'headingLevel':3, 'size':'m', 'autocomplete':'family-name'}) }}
          {{ form.requester_contact_preference(params={'headingLevel':3}) }}
          {{ form.requester_email(params={'headingLevel':3, 'autocomplete':'email'}) }}
          {{ form.requester_address1(params={'headingLevel':3, 'size':'m', 'autocomplete':'address-line1'}) }}
          {{ form.requester_address2(params={'headingLevel':3, 'size':'m', 'autocomplete':'address-line2'}) }}
          {{ form.requester_town_city(params={'headingLevel':3, 'size':'m', 'autocomplete':'address-level1'}) }}
          {{ form.requester_county(params={'headingLevel':3, 'size':'m'}) }}
          {{ form.requester_postcode(params={'headingLevel':3, 'size':'m', 'autocomplete':'postal-code'}) }}
          {{ form.requester_country(params={'headingLevel':3, 'size':'m', 'autocomplete':'country'}) }}

          <div class="tna-button-group">
            {{ form.submit }}
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}