{% extends 'base.html' %}

{%- set pageTitle = content.app.title -%}

{% block content %}
  <div class="tna-section">
    <div class="tna-container">
      <div
        class="tna-column tna-column--width-2-3 tna-column--width-5-6-medium tna-column--full-small tna-column--full-tiny">

        <h1 class="tna-heading-xl">{{ content.app.title }}</h1>
        <h2 class="tna-heading-l">Multi form user journey</h2>
        <p>This user journey has been designed to present users with questions in sequence, dynamically routing them to
          different pages reflecting information they provide and choices they make.</p>
        <a class="tna-button tna-!--margin-top-l" href="{{ url_for('main.start') }}">Try
          the multi form journey</a>

        <h2 class="tna-heading-l">'Kitchen sink' form</h2>
        <p>During the 15-17 July 2025 timebox, we were asked to prepare a form using the Flask Application Template that
          included all fields from the existing 'open' and 'closed' request forms.</p>
        <p>While the service is not intended to be presented as a single form in this way, the primary purpose of this
          form is to enable the back end integration that will allow the user's submission to be sent by email to MS
          Dynamics.</p>
        <p>At this stage, the form has basic validation in place, but no inter-field validation. For this reason, some
          fields - such as 'Email address' - are required when they might not necessarily be.</p>
        <a class="tna-button tna-!--margin-top-l" href="{{ url_for('main.all_fields_in_one_form') }}">Try
          the kitchen sink form</a>
      </div>
    </div>
  </div>
{% endblock %}
