{% extends 'base.html' %}
{%- set pageTitle = 'Submission successful' -%}

{% block content %}
  <div class="tna-section">
    <div class="tna-container">
      <div
        class="tna-column tna-column--width-2-3 tna-column--width-5-6-medium tna-column--full-small tna-column--full-tiny">
        {% if form.errors %}
          {{ tnaErrorSummary(wtforms_errors(form)) }}
        {% endif %}
        <h1 class="tna-heading-xl">{{ content.pages.review.heading }}</h1>

        <div class="tna-details">
          <details class="tna-details__details">
            <summary class="tna-details__summary">{{ content.pages.review.details.summary }}</summary>
            <div class="tna-details__content">
              <table class="tna-table">
                <thead class="tna-table__head">
                <tr class="tna-table__row">
                  {% for item in content.pages.review.table.headers %}
                  <th class="tna-table__header" scope="col">{{ item }}</th>
                  {% endfor %}
                </tr>
                </thead>
                <tbody class="tna-table__body">
                {% for field_name, field_value in form_data.items() %}
                  <tr class="tna-table__row">
                    <th class="tna-table__cell" scope="row">{{ field_name }}</th>
                    <td class="tna-table__cell">{{ '✅' if field_value else '❌' }}</td>
                    <td class="tna-table__cell">{{ field_value }}</td>
                  </tr>
                {% endfor %}
                </tbody>
              </table>
            </div>
          </details>
        </div>
      </div>
      <div class="tna-!--margin-top-m">
        <form action="{{ url_for('main.review') }}" method="post" novalidate>
          {{ form.csrf_token }}
          <div class="tna-button-group">
            {{ form.submit }}
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
