{% extends 'base.html' %}
{%- set pageTitle = 'Submission successful' -%}

{% block content %}
  <div class="tna-section">
    <div class="tna-container">
      <div
        class="tna-column tna-column--width-2-3 tna-column--width-5-6-medium tna-column--full-small tna-column--full-tiny">
        <h1 class="tna-heading-xl">{{ content.pages.payment_incomplete.heading }}</h1>
        {% for paragraph in content.pages.payment_incomplete.paragraphs %}
          <p>{{ paragraph }}</p>
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}
